body {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
    
}
.header {
    height: 1494px;
    background-image: url(/step-project-the-ham/stepproject/img/Layer\ 1\ 5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.menu {
    background: rgba(94, 93, 88, 0.6);
    width: 1920px;
height: 120px;
}
.logo {
    margin-left: 380px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}
.logo_inner {
    margin-top: 26px;
    position: absolute;
    z-index: 1;
}

.letter-logo {
    position: relative;
    top: 44px;
    left: 393px;
    z-index: 2;
    width: 31px;
height: 31px;
left: 13px;
top: 44px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 31px;
color: #FFFFFF;}
.tetx-logo--main {
    position: relative;
    left: 30px;
    top: 36px;
    font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
/* or 150% */

display: flex;
align-items: center;

color: #FFFFFF;

}
.part-2 {
    color: #18CFAB;
}
.ul{
    display: flex;
    gap: 21px;
    justify-content: flex-end;
    padding-right: 443px;
}
.link {
    text-decoration: none;
    text-transform: uppercase;
width: 60.11px;
height: 21.65px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
color: rgba(255, 255, 255, 0.6);
}
.finder{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    padding-right: 380px;
}
.src {
    display: flex;
    align-self: center;
    justify-self: center;
}
.cenetr-text {
    padding-top: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}
.txt_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.txt1-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    
    color: #18CFAB;
}
.header-txt-big {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 78px;
line-height: 1px;
text-transform: uppercase;

color: #FFFFFF;


}

.txt-hdr {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 1px;
color: #FFFFFF;
}
.btn-1 {
    position: relative;
    width: 169px;
height: 64px;
background: #FFFFFF;
border-radius: 5px;
}
.buttons-bkg {
    padding-top: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26px;
}
.inner-btn {
    position: absolute;
    top: 5px;
    width: 169px;
height: 63px;
left: 0px;
top: 5px;
border-radius: 5px;
background: #18CFAB;

}
.inner-btn-2 {
    position: absolute;
width: 169px;
height: 63px;
top: 5px;
border-radius: 5px;
background: #00CBF6;

}
.link-btn {
    text-decoration: none;
    font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 32px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
align-self: center;
justify-self: center;
color: #FFFFFF;
}
.txt-btn-1 {
   position: absolute;
   top: 15px;
   left: 25px;
}
.txt-btn-2 {
    position: absolute;
    top: 15px;
    left: 17px;
}
.options-list {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
.color-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-direction: column;
    width: 482px;
height: 377px;
background: #1C2A33;
}
.color-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 482px;
height: 377px;
    width: 482px;
height: 377px;
background: #18CFAB;
}
.color-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 482px;
height: 377px;
background: #1C2A33;
}
.color-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 482px;
height: 377px;
background: #18CFAB;
}
.txt_box {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #18CFAB;
}
.txt_box1 {
    margin-top: 62px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;

color: #FFFFFF;
}
.option-list {

    padding-top: 900px;
    display: flex;
}
.option1 {
width: 482px;
height: 377px;
background: #1C2A33;
}
.option2 {
    width: 482px;
height: 377px;
left: 0px;
top: -10px;

background: #18CFAB;
}
.tabs-line {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    height: 10px;
}
.ln1 {
    position: relative;
    width: 75px;
height: 1px;
left: 30px;
top: 15px;

background: #18CFAB;
}
.ln2 {
    position: relative;
    width: 75.54px;
    height: 1px;
    right: 30px;
    top: 10px;
    
    background: #18CFAB;
}
.tabs {
  padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.tb1 {
  display: flex;
  justify-content: center;
align-items: center;
    width: 192px;
height: 72px;

background: #F8FCFE;
border: 1px solid #EDEFEF;

}
.tabs_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;
}
.lnk {
    cursor: pointer;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15.9859px;
line-height: 39px;
justify-content: center;
align-items: center;
color: #717171;
}
.tabs-orig {
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 91px;
gap: 15px;
}
.tabs-texts {
    width: 952px;
}
.txt  {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
/* or 179% */

display: flex;
align-items: center;

color: #777777;

}
.purchase {
    width: 1920px;
height: 476px;
background-image: url(/step-project-the-ham/stepproject/img/Layer\ 21\ 1.png);
background-repeat: no-repeat;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 500px;
}
.media-text {
    padding-top: 127px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 40px;

text-transform: uppercase;

color: #18CFAB;
}
.media-small {
    padding-top: 13px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
/* identical to box height, or 250% */

display: flex;
align-items: center;
text-align: center;

color: #D8D8D8;
padding-bottom: 80px;
}
.btn-1-under {
    padding-top: 60px;
    position: relative;
background: #FFFFFF;
border-radius: 5px;
width: 169px;
}
.link-btn {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 32px;
/* or 213% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.spantxt1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    
    color: #18CFAB;
    
}
.spantxt2 {
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
.option2 {
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option1 {
   
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.our-amazing-work {
    padding-top: 96px;
     background: #E9EDEF;
    
}
.tb1d {
    display: flex;
    justify-content: center;
  align-items: center;
      width: 192px;
  height: 72px;
  
  background: #F8FCFE;
  border: 1px solid #EDEFEF; 
}
.tabs1 {
    padding-top: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 71px;
}

.section-tabs {
    padding-top: 71px;
    width: 1140px;
}
.centerimg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.breacking-news {
    padding-top: 82px;
}
.center-cards {
    padding-top: 50px;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 101px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.card_image {
    width: 263px;
height: 208px;
}
.cards{
    gap: 35px 75px;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   
}
.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
}
.txt-cards {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 17.9885px;
line-height: 39px;
/* or 216% */

display: flex;
align-items: center;
text-align: center;

color: #717171;

}
.span-info {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
/* or 278% */

display: flex;
align-items: center;
text-align: center;

color: #777777;
}
.card_image {
    position: absolute;
}
.obj {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: relative;
    width: 70px;
height: 68px;
left: 96px;
top: -31px;
background: #203E38;
}
.obj-txt {
    margin-left: 25px;
    margin-top: 80px;
    color: #FFFFFF;
}
.obj-txt1 {
    margin-left: 19px;
    color: #FFFFFF;
}


.txt {
    display: none;
}
.txt.active {
    display: block;
}
.tb1.active {
    background: #18CFAB;
    color: #FFFFFF;


}
.tb1:hover {
    border: 1px solid #18CFAB;
    color: #FFFFFF;


    
;
}
.imgsfortabs {
    width: 192px;
height: 139px;
}
.img-tabs {
    width: 192px;
    height: 139px;
}
.img-tabs {
    display: none;
}
.img-tabs.active {
    display: block;
}
.img.section-tabs {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}
.image-holder  {
    width: 285px;
height: 206px;
display: none;
}

.corusel {
    width: 1920px;
height: 853px;
background-image: url(/step-project-the-ham/stepproject/img/Layer\ 333.png);
background-repeat: no-repeat;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 500px;

}
.breacking-news {
    padding-bottom: 128px;
}
.inf {
width: 70px;
height: 68px;
color: #1C2A33;
}
.image-holder.design.active {
    display: block;
}
.image-holder-design {
    display: none;
}
.tb1d-design {
    display: flex;
  justify-content: center;
align-items: center;
    width: 192px;
height: 72px;

background: #F8FCFE;
border: 1px solid #EDEFEF;
}
.tb1d-web {
    display: flex;
    justify-content: center;
  align-items: center;
      width: 192px;
  height: 72px;
  
  background: #F8FCFE;
  border: 1px solid #EDEFEF;   
}
.tb1d-landing {
    display: flex;
    justify-content: center;
  align-items: center;
      width: 192px;
  height: 72px;
  
  background: #F8FCFE;
  border: 1px solid #EDEFEF;  
}
.tb1d-press {
    display: flex;
    justify-content: center;
  align-items: center;
      width: 192px;
  height: 72px;
  
  background: #F8FCFE;
  border: 1px solid #EDEFEF;  
}
.image-holder.all.active {
    display: block;
}
.image-holder.all{
    display: none;
}
.btn-under-tabs {
    width: 168px;
height: 63px;
background: #18CFAB;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 15px;
}
.button-in-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 99px;
}
.txt-inner-button-tabs {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 42px;
/* identical to box height, or 300% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;

}
.hidden-unactive {
    gap: 0px;
    padding-top: 40px;
    padding-left: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    width: 1140px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.unactive.active{
    display: block;
}
.unactive{
    display: none;
}
.tabs_text-curusel {
    padding-top: 98px;
    padding-bottom: 28px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}
.img {
    padding-bottom: 40px;
}
.spantxt12 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    
    color: #FFFFFF;
      
}
.tabs-section {
    display: flex;

justify-content: center;
align-items: center;}
.text-for-corusel {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
/* or 188% */

display: flex;
align-items: center;
text-align: center;

color: #BBBBBB;
}
.txt-corusel {
    padding-left: 350px;
    padding-top: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
height: 45px;
}
.text-for-corusel.active {
    display: flex;
    justify-content: center;
    align-items: center;
display: block;
}
.text-for-corusel{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.names-corusel.active {
    display: block;
}
.names-corusel{
    display: none;
}
.name {
    padding-top: 38px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 27px;
/* or 169% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #18CFAB;
}
.profession-corusel.active {
    display: block;
}
.profession-corusel {
    display: none;
}
.profession {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    ont-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 27px;
/* or 169% */

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #d5d5d5;
}
.corusel-image {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-corusel-1 {
    display: none;
}
.img-corusel-1.active {
    display: block;
}
.btn-crsl {
    width: 31px;
height: 31px;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #BBBBBB;
}
.btn-corusel-2 {
    width: 31px;
height: 31px;
    background: rgba(0, 0, 0, 0.0001);
border: 1px solid #BBBBBB; 
}
.corusel-buttons {
    margin-top: 71px;
    margin-left: 718px;
    display: flex;
    flex-direction: row;
    gap: 421px;
}   
.link:hover {
    color: #18CFAB;
}
.corusel-clicks {
    gap: 38px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.corusel_wrapper {
}
.tb1d:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}  
.lnk:hover {
    color: #E9EDEF;
}
.tb1d-design:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}  
.blg-bst {
    display: flex;
    text-decoration: none;
    position: relative;
    flex-direction: column;
    gap: 40px;
}
.text-div-gallary:hover {
    color: green;
}
.fll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
}
.fld {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    left: 193px;
    position: absolute;
    width: 70px;
height: 68px;
background-color:#18CFAB; ;
color: white;
;
}

.lnk1:hover {
    color: #18CFAB;
}
.tb1d-web:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}  
.tb1d-landing:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}  
.tb1d-press:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;;
}  
.material {
    fill: #18CFAB;
    color: #18CFAB;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 10px;
height: 15px;
color: #BBBBBB;

}
.corusel-w.active{
    
    border-radius: 50%;
    border: 5px solid #1fdab55c;;
}
.btn-crsl {
    position: relative;
}
.dot {
    position: absolute;
    top: 7px;
    left: 10px;
}
.btn-corusel-2  {
    position: relative;
}
.dot-1 {
    position: absolute;
    width: 10px;
height: 15px;
color: #d5d5d5;
top: 7px;
    left: 10px;

}
.items-corusel {
    position: relative;
}
.corusel-clicks {
    position: absolute;
    left: 780px;

}
.corusel-buttons {
    position: absolute;
    bottom: 20px;
}
.masonry {
    width: 1920px;
height: 1366px;
}
.tabs_text-1 {
    padding-top: 108px;
    ont-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;
}
.gallary {
    padding-left: 350px;
    gap: 21px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 378px 378px 92px 10px 10px 10px  30px 60px 35px 92px 92px;
    grid-template-rows: 168px 92px 92px 92px 30px 90PX 200PX;
}
.gl-1 {
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:1 ;
    grid-row-end:2 ;
}
.gl-4 {
    margin-left: 8px;
    grid-column-start: 7;
    grid-column-end:8 ;
}
.gl-7 {
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:3 ;
    grid-row-end:4 ;
}
.gl-6 {
    grid-column-start: 5;
    grid-column-end:6 ;
    grid-row-start:2 ;
    grid-row-end:3 ;
}
.gl-5 {
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:2 ;
    grid-row-end:3 ;
}
.gl-8 {
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:3 ;
    grid-row-end:4 ;
}
.gl-9 {
    grid-column-start: 5;
    grid-column-end:6 ;
    grid-row-start:3 ;
    grid-row-end:4 ;
}
.gl-11 {
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:4 ;
    grid-row-end:5 ;
}
.gl-10 {
    grid-column-start: 5;
    grid-column-end:6 ;
    grid-row-start:3 ;
    grid-row-end:4   ;
}
.gl-12 {
    grid-column-start: 5;
    grid-column-end:6 ;
    grid-row-start:4 ;
    grid-row-end:4  
}
.gl-13 {
    margin-left: 21px;
    grid-column-start: 8;
    grid-column-end:9 ;
    grid-row-start:2 ;
    grid-row-end:3  
}
.gl-14 {
    margin-left: 21px;
    grid-column-start: 8;
    grid-column-end:9 ;
    grid-row-start:3 ;
    grid-row-end:4 
}
.gl-15 {
    margin-left: 21px;
    grid-column-start: 8;
    grid-column-end:9 ;
    grid-row-start:4 ;
    grid-row-end:5
}
.gl-16 {
    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:6 ;
    grid-row-end:7
}
.gl-17 {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:4 ;
    grid-row-end:5
}
.gl-18 {
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start:7 ;
    grid-row-end:8
}
.gl-19 {
    
    grid-column-start: 3;
    grid-column-end:4 ;
    grid-row-start:5 ;
    grid-row-end:6
}
.button-under-corusel {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-crsll {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
width: 168px;
height: 63px;
background: #18CFAB;
border-radius: 5px;
}
.crrr {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 42px;
/* identical to box height, or 300% */

display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;
}
.ftr {
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.footer {
    background: #22353F;
    width: 1922px;
height: 121px;
}
.copyright {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

display: flex;
align-items: center;

color: #AEAEAE;

}
.tabs-links {
    padding-top: 100px;
}
.theham {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */
    
    display: flex;
    align-items: center;
    
    color: #18CFAB;
}
.allright {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */

display: flex;
align-items: center;

color: #AEAEAE;
}
